@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Headings - Focus on Size, Weight, and Leading only */
  h1 {
    @apply text-5xl md:text-7xl font-black mb-6 leading-[1.1] tracking-tighter;
  }

  h2 {
    @apply text-4xl md:text-6xl font-extrabold mb-5 leading-tight tracking-tight;
  }

  h3 {
    @apply text-3xl md:text-5xl font-bold mb-4 leading-snug;
  }

  h4 {
    @apply text-2xl md:text-4xl font-semibold mb-3 leading-snug;
  }

  h5 {
    @apply text-xl md:text-2xl font-medium mb-2 leading-relaxed;
  }

  h6 {
    @apply text-lg md:text-xl font-medium mb-1 uppercase tracking-widest;
  }

  /* Paragraphs */
  p,
  p > * {
    @apply text-base md:text-lg leading-relaxed font-normal;
  }

  /* Selection Logic */
  ::selection {
    @apply bg-primary-200 text-white;
  }

  /* Global Setup */
  html {
    scroll-behavior: smooth;
    @apply antialiased;
  }
}

@layer components {
  /* Page */
  .proma-page {
    @apply flex flex-col justify-start items-center gap-10 min-h-screen min-w-full proma-scrollbar-element;
  }

  /* Section */
  .proma-section {
    @apply flex flex-col justify-center items-center min-h-fit min-w-full px-20;
    .proma-section-wrapper {
      @apply flex flex-col justify-start items-start min-h-fit w-full;
    }

    &.hero-section {
      @apply h-screen;
      .proma-section-wrapper {
        @apply justify-center items-center;
      }
    }
  }
  /* colors */
  .gradient-bg {
    @apply bg-gradient-to-r from-primary-500 to-secondary-500;
  }

  /* Typography */

  .gradient-text {
    @apply bg-gradient-to-r from-primary-500 to-secondary-500;
    @apply bg-clip-text text-transparent inline-block;
  }
  .glowing-text {
    @apply transition-all duration-500 ease-in-out;
    /* Primary Blue Glow */
    text-shadow:
      0 0 2px white,
      0 0 12px white,
      0 0 22px white;
  }

  /* progresive blur */
  .progressive-blur-t-b {
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(15px);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 100%);
  }
  .progressive-blur-b-t {
    mask-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    backdrop-filter: blur(15px);
    -webkit-mask-image: linear-gradient(to top, black 0%, transparent 100%);
  }
  .progressive-blur-l-r {
    mask-image: linear-gradient(to right, black 0%, transparent 100%);
    backdrop-filter: blur(15px);
  }
  .progressive-blur-r-l {
    mask-image: linear-gradient(to left, black 0%, transparent 100%);
    backdrop-filter: blur(15px);
  }

  .proma-scrollbar-element::-webkit-scrollbar {
    @apply bg-primary-500;
  }

  .proma-primary-link {
    @apply h-fit w-fit bg-primary-500/0 z-30 my-auto rounded-xl px-0 py-2 hover:px-2 hover:bg-primary-500;
  }
  .proma-secondary-link {
    @apply h-fit w-fit bg-secondary-500/0 z-30 my-auto rounded-xl px-0 py-2 hover:px-2 hover:bg-secondary-500;
  }

  /* form */
  .proma-form {
    @apply flex flex-col justify-start items-start gap-4 w-full;
    .proma-horizontal-fields {
      @apply flex gap-4;
    }
    .proma-input-field {
      @apply flex flex-col justify-start items-start gap-2 w-full;
      label {
        @apply text-sm font-medium text-gray-300;
      }
      input,
      textarea {
        @apply w-full px-3 py-2 rounded-lg bg-transparent text-white tracking-widest outline-none ring-2 ring-gray-800 transition duration-200;
        &:hover, &:focus {
          box-shadow: 0 0 10px hsla(330, 100%, 50%);
        }
      }
      textarea {
        @apply resize-y min-h-32;
      }
    }
    .proma-submit-button {
      @apply gradient-bg text-white font-semibold py-2 px-6 rounded-lg transition duration-300 ;
      &:hover {
        box-shadow: 0 0 75px hsla(270, 100%, 30%);
      }
    }
  }
}

html,
body {
  &::-webkit-scrollbar {
    display: none;
  }
}

.sticky-card {
  will-change: transform;
  transform: translateZ(0);
}
