main.contact-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
  width: 100%;

  & section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;

    & > .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      height: fit-content;
      width: 100%;
    }

    &.hero-section {
      padding: 2rem;
      background: linear-gradient(
        135deg,
        var(--primary-o-color),
        var(--primary-d-color)
      );

      & > .wrapper {
        justify-content: start;
        align-items: start;
        height: fit-content;
        width: 100%;

        & .title {
          font-size: 5rem;

          @media (max-width: 900px) {
            font-size: 2rem;
          }
        }

        & .subtitle {
          font-size: 2rem;
          color: var(--dark-l);

          @media (max-width: 900px) {
            font-size: 1.5rem;
          }
        }
      }
    }

    &.info-form-section {
      padding: 2rem;

      & .wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        gap: 2rem;

        & .info {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: start;
          gap: 1rem;
          height: fit-content;
          width: 50%;
          border-radius: 2rem;
          padding: 2rem;
          overflow: hidden;
          background-color: var(--dark-o);

          & .decor {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            display: flex;
            height: 10vw;
            width: 10vw;
            background-color: var(--primary-o-color);
            border-radius: 50%;
            filter: blur(30px);
            z-index: 1;
            animation: animate-info-section-decor 5s ease-in-out forwards;
          }

          & .copy {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            & .title {
              font-size: 2rem;
              z-index: 2;

              @media (max-width: 900px) {
                font-size: 1.5rem;
              }
            }

            & .subtitles {
              z-index: 2;
              & .subtitle {
                font-size: 1.5rem;
                color: var(--light-d);
                z-index: 2;

                @media (max-width: 900px) {
                  font-size: 1rem;
                }
              }
            }
          }

          & .details {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
            gap: 1rem;
            z-index: 2;

            & .detail {
              display: flex;
              flex-direction: column;

              & .title {
                font-size: 2rem;
              }

              & .labels {
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                height: fit-content;
                width: fit-content;
                margin-left: 1rem;
                font-size: 1.5rem;
                color: var(--muted-o);
              }
            }
          }
        }

        & .form {
          position: sticky;
          top: var(--contact-page-hero-section-height);
          display: flex;
          justify-content: end;
          align-items: start;
          height: fit-content;
          width: 50%;
          padding: 2rem;
          padding-top: 0;
          padding-right: 0;

          & form {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            height: fit-content;
            width: 100%;

            & .form-input {
              display: flex;
              flex-direction: column;
              justify-content: start;
              align-items: start;
              gap: 1rem;
              height: fit-content;
              width: 100%;
              margin-bottom: 2rem;

              & input,
              & textarea {
                min-height: 4rem;
                width: 100%;
                border-radius: 1rem;
                outline: none;
                padding: 1rem;
                background-color: transparent;
                color: var(--light-l);
                font-size: 1.2rem;
                letter-spacing: 0.2rem;
                border: 0.2rem solid;
                border-color: var(--muted-d);

                &:hover,
                &:focus-visible {
                  border-color: var(--light-l);
                }

                &::placeholder {
                  letter-spacing: none;
                }
              }

              & textarea {
                min-height: 10rem;
                resize: none;
              }
            }

            & button {
              --this-bg: var(--primary-l-color);
              --this-fg: var(--primary-o-color);
              --this-bg-hover: var(--primary-o-color);
              --this-fg-hover: var(--primary-l-color);
              height: fit-content;
              width: 100%;
              border: none;
              outline: none;
              cursor: pointer;
              transition: all var(--speed-normal);
            }
          }
        }
      }
    }
  }
}
@keyframes animate-info-section-decor {
  0% {
    opacity: 0;
    transform: translate(50%, -50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(50%, -50%) scale(5);
  }
}