.product-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  background-color: var(--dark-o);
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem var(--primary-shadow-color);

  &:hover {
    box-shadow: 0 0.2rem 1rem var(--primary-shadow-color-hovered);
    & .icon {
      color: var(--primary-o-color);
    }
  }

  & > .wrapper {
    display: flex;
    justify-content: end;
    align-items: start;
    height: fit-content;
    width: 100%;
    padding: 1rem;

    & > .info,
    & > .specs {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      height: fit-content;
      gap: 0.5rem;
      width: 100%;

      & .col {
        display: flex;
        flex-direction: column;

        justify-content: start;
        align-items: start;
        gap: 0.5rem;
        height: fit-content;
      }

      & .row {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        height: fit-content;
      }

      & .specs {
        background-color: var(--dark-l);
        padding: 1rem;
        border-radius: 0.5rem;
      }
    }

    & .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      border-radius: 0.5rem;
      background-color: var(--dark-l);
    }
  }
}
