.add-engineer-page {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-engineer-page .wrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page-title {
    width: 100%;
    text-align: center;
}

.page-title h1 {
    font-size: 2.5rem;
    background: linear-gradient(to right, var(--primary-o-color), var(--primary-d-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    margin-bottom: 1rem;
}

.add-engineer-page form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--dark-l);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem var(--primary-shadow-color);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-group h3 {
    color: var(--primary-o-color);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.form-group h4 {
    color: var(--light-l);
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.form-group h5 {
    color: var(--muted-l);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.form-col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--dark-d);
    padding: 1rem;
    border-radius: 1rem;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-input .label {
    color: var(--light-o);
    font-size: 0.9rem;
    font-weight: var(--font-weight-medium);
}

.form-input input {
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--light-o);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    border: none;
}

.form-input input:focus,
.form-input input.filled {
    outline: none;
    box-shadow: 0 0 0.5rem var(--primary-o-color), inset 0 0 0.5rem var(--primary-o-color);
}

.form-input input::placeholder {
    letter-spacing: 0;
    color: var(--muted-o);
}

.divider {
    height: 0.2rem;
    width: 100%;
    border-radius: 50%;
    background-color: var(--primary-o-color);
    box-shadow: 0 0 0.5rem var(--primary-o-color);
}

span.error {
    color: var(--red-o);
    font-size: 0.8rem;
}

.submit-btn {
    align-self: flex-end;
    background-color: var(--primary-o-color);
    color: var(--light-l);
    border: none;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.submit-btn:hover {
    background-color: var(--primary-d-color);
}

@media (max-width: 768px) {
    .form-row {
        grid-template-columns: 1fr;
    }

    .add-engineer-page {
        padding: 1rem;
    }
}