main.products-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: fit-content;
  width: 100%;
  padding: 2rem;

  & section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;

    & > .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: fit-content;
      width: 100%;
    }
  }
}
